b {
  color: bisque;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  color: black;
  font-size: 50px;
}
p {
  color: azure;
  font-size: 20px;
}
a {
  color: blueviolet;
  font: 50px;
}
a:hover {
  color: rgb(133, 27, 97);
  font-size: 15px;
}
