body {
  display: flex;
  font-family: Arial, sans-serif;
  justify-content: center;
  padding-top: 100px;
  background-color: #002369;
}
.calculator-box {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}
button {
  background-color: #15428c;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #6dd5ef;
  color: black;
  transform: scale(1.1);
}
